@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500;700&family=Poppins:wght@400;700&family=Ubuntu:wght@400;700&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam Pro";
}
.header{
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  width: 5rem;
}
.switch-bg{
  background-color: #8B48BF;
  color: white;
}
.switch-bg button{
  background-color: white;
  color: #8B48BF;
}
.switch-bg div{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex:1;

}

.switch-bg > div > div{
 max-width: 28rem;
 margin-right: 4rem;

}

.switch-bg  h2{
  font-size: 2rem;

}
.switch-bg  p{
  font-size: 1rem;

}

.menu{
  width: 2.3rem;
}
.footer {
  background-color: #1E1E26;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 2.5rem;
  align-items: start;
}

.links ul{
  text-decoration: none;
  list-style: none;
  margin: 0;
}

.links ul li{
  margin-bottom: 1rem;
}


.footer-logo{
  margin-bottom: 4.5rem;
}

.footer-social img{
  margin-right: 0.3rem;
}

.contact{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
}

.contact p{
font-size: small;
color: #8C8C94;
}



.section{
  display: flex;
  justify-content: center;
  width: 100%; /*  Provisorio */
}

.p-1{
  padding: 1rem;
}

.m-b-2{
  margin-bottom: 2rem;
}
.banner{
  display: flex;
  text-align: right;
  padding: 7rem;

}
.banner-info{
  max-width: 27rem;
}
.banner-title{
  font-weight: bold;
  font-size: 2.5rem;
  color: #232C50;
}

.violet{
  background-color: #8B48BF;
  color: white;
}

.grisecito{
  background-color: #FAFAFA;
}

.imagen-principal{
  width: 100%;
  margin-right: 6rem;
}

.rounded{
  border-radius: 50px;
}

.button{
  border: none;
  padding: 0.7rem 2.5rem;
  margin-top: 0.7rem;
  color: white;
  font-size: 0.9rem;
}
.points{
  width: 100%;
  padding: 10px;
  padding-top: 2rem;
}


.points div:nth-child(1){
  display: flex;
  justify-content: center;

}

.pill{
  border-radius: 50px;
  padding: 0.5rem 1.2rem;
}

.points article{
  width: 400px;
}

.points article:nth-child(1){
  margin-right: 8rem;
}
.points article:nth-child(1) h5::before{
  content: "01";
}
.points article:nth-child(2) h5::before{
  content: "02";
}
.points div:nth-child(2) h5::before{
  content: "03";
}

.points article h5::before{
  background-color: #8B48BF;
  color: white;
  width: 1rem;
  font-size: small;
  border-radius: 50px;
  padding: 0.5rem 1.2rem;
  margin-right: 1rem;
}

.points article p{
  position: relative;
  left: 4.4rem;
  font-size: medium;
  color: #B3B2B7;

}
.points div:nth-child(2){
  display: flex;
  justify-content: center;


}
.player-card h6{
  font-size: small;
  color: #3F4868;
}
.player-card p{
  color:#B9B9C1;
}
.player-card img{
  position: relative;
  top: 2.3rem;
}

.player-card-text{
  background-color: #FAFAFA;
  padding: 1.5rem;
}

.player-card-container{
  display: flex;
  flex: 1;
  margin: 0 2rem;
}


.players-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


.players-section h2{
  text-align: center;
}

.flex-end{
  display: flex;
  justify-content: end !important;
}


.border-none{
  border: none;
}

#email{
  margin-right: 0.5rem;
}
.copy-right{
 text-align: right;
 padding:0;
}

@media (max-width: 480px) {
  .banner{
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  .imagen-principal{
    margin-bottom: 4rem;
  }
  .points div:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
  .switch-bg{
    background-color: #3CDDF3;
    color: white;
    text-align: center;
  }
  .switch-bg button{
    background-color: #232C50;
    color: white;
  }

  .switch-bg div{
    flex-direction: column;

  }

  .switch-bg > div > div{
  
    margin-right: 0;

   }
  .grisecito{
    background-color: #FFFFFF;
  }

  .imagen-principal{
    width: 100%;
    margin-right: 0;
  }
  .xs-display-none{
    display: none;
  }

  .points{
    padding: 2rem 0 0 2rem;

  }
  .points article{
    width: 100%;
    
  }
  .points article p{
    left: 0;
  }
  .points article h5{
    padding: 0;
    margin: 0;
    position: relative;
    right: 2rem;
  }
  .title-container{
    background-color: #8B48BF4D;
    padding: 0.5rem 0;

    position: relative;
    left: 1rem;
    width: 100%;
    
  }
  .points article:nth-child(1){
    margin-right: 0;
  }
  
  .player-card-container{
    display: flex;
    flex: 1;
    margin: 0 0.5rem;
    padding: 0.7rem;
  }
  .player-card-text{
    padding: 1rem;
  }
}
