@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500;700&family=Poppins:wght@400;700&family=Ubuntu:wght@400;700&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam Pro";
}
.header{
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  width: 5rem;
}
.switch-bg{
  background-color: #3CDDF3;
  color: white;
}
.menu{
  width: 2.3rem;
}
.footer{
  background-color: #1E1E26;
  color: white;
}

.section{
  display: flex;
  justify-content: center;
}

.p-1{
  padding: 1rem;
}

.m-b-2{
  margin-bottom: 2rem;
}
.banner{
  display: flex;
  text-align: right;

}
.banner-title{
  font-weight: bold;
  font-size: 2.5rem;
  color: #232C50;
}

.violet{
  background-color: #8B48BF;
  color: white;
}

.grisecito{
  background-color: #FAFAFA;
}

.imagen-principal{
  width: 100%;
}

.rounded{
  border-radius: 50px;
}

.button{
  border: none;
  padding: 0.7rem 2.5rem;
  margin-top: 0.7rem;
  color: white;
  font-size: 0.9rem;
}





@media (max-width: 480px) {
  .banner{
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  .imagen-principal{
    margin-bottom: 4rem;
  }
}
